@use "variables" as *;

main {
  background-color: $quaternary;
  padding-top: 250px;
}

.container {
  max-width: 1230px;
  width: 98%;
  margin: 0 auto;
}

.wrapper {
  position: static;
  z-index: 1;
}
