@use "variables" as *;

/* adjustment to 3 button layout on portfolio section */
@media (max-width: 1010px) {
  .portfolioBtns {
    flex-wrap: wrap;
    :nth-child(3) {
      margin-top: 25px;
    }
  }
}

// transition to burger menu and more
@media (max-width: 869px) {
  .navbarLinks {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: $octonary;
    width: 60%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navbarLinks.active {
    right: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    margin-top: 10px;
    display: block;
    cursor: pointer;
  }

  // adjust underline size
  .navbarLinks {
    a:hover::after,
    a:focus::after {
      transform: scaleX(0.1);
      transform-origin: center;
    }
  }

  .aboutFlex {
    flex-direction: column;
    align-items: center;
    .aboutImage img {
      max-width: 55%;
      margin-bottom: 50px;
    }
    .aboutText {
      max-width: 80%;
    }
  }

  // portfolio adjustments
  .portfolio {
    background-image: none;
  }

  .portfolioBtns {
    :nth-child(3) {
      margin-top: 0px;
    }
  }

  .portfolioRow {
    margin-bottom: 50px;
  }

  .portfolioRowA {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .portfolioRowB,
  .portfolioRowLast {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    .box3,
    .box5,
    .box6 {
      max-width: 100%;
    }
    > :nth-child(1) {
      order: 2;
    }
    > :nth-child(2) {
      order: 1;
    }
  }

  .portfolioRowLast {
    margin-top: 20px;
  }

  .box2,
  .box3,
  .box6 {
    margin-bottom: 50px;
  }

  .portfolioTextFlex,
  .keywordBox {
    align-items: center;
    text-align: center;
  }

  .portfolioText {
    max-width: 100%;
  }

  .portfolioImage {
    padding: 0 0;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  // adjust testimonials section
  .testimonialsFlex {
    flex-direction: column;
    div {
      width: auto;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .home {
    padding-bottom: 75px;
  }
  .homeFlex {
    flex-direction: column-reverse;
    .homeImage {
      max-width: 50%;
    }
    .homeText {
      margin-top: 0px;
    }
  }

  .servicesFlex {
    flex-direction: column;
    flex-wrap: nowrap;
    .svcBox {
      max-width: inherit;
    }
  }

  .testimonialBox {
    flex-direction: column;
    .testimonialBoxRight {
      margin-left: 0px;
      margin-top: 12px;
    }
  }
  .contactFlex {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 0px;
    .contactLeftFlex {
      width: inherit;
      margin: auto 0;
    }
    .contactRightFlex {
      width: 75%;
      margin-left: 0px;
    }
  }
}

/* adjustment to 3 button layout on portfolio section */
@media (max-width: 647px) {
  .portfolioBtns {
    flex-wrap: wrap;
    justify-content: center;
    :nth-child(3) {
      margin-top: 25px;
    }
  }
  .footerIcons p {
text-align: right;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .skills {
  background-image: url("../assets/images/effect/bg-effect-1-small.png");
  background-size: contain;
  }
  .testimonials {
  background-image: url("../assets/images/effect/bg-effect-2-small.png");
  }
  .homeFlex .homeImage {
    max-width: 75%;
  }
}

/* Spacing portolio buttons */
@media (max-width: 390px) {
  .viewGitBtn {
    margin-top: 25px;
  }
}

/* Last-ditch efforts to keep things nice-nice */
@media (max-width: 375px) {
  .contactBtnNav {
    display: none;
  }
  .navLinks {
    margin-right: 40px;
  }
}