@use "variables" as *;

header {
  z-index: 10;
}

.navContainer {
  padding: 15px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.navbarLinks {
  display: flex;
  li {
    padding: 0px 8px;
    display: inline-block;
    position: relative;
  }
  a::after,
  a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $secondary;
  transform-origin: center;
  transition: transform 0.1s ease-out;
  }
  a:hover::after,
  a:focus::after {
  transform: scaleX(.7);
  transform-origin: center;
  }
}

.logo {
  display: flex;
  position: relative;
  p {
    color: $quaternary;
    position: absolute;
    left: 79px;
    top: -12px;
    font-size: 2.31rem;
  }
  span {
    color: $secondary;
  }
  img {
    height: 40px;
    width: auto;
  }
}