@use "variables" as *;

.about {
  background-color: $tertiary;
  padding: 100px 0px;
}

.aboutFlex {
  display: flex;
}

.aboutImage {
  flex-basis: 50%;
  img {
    border: 2px solid black;
  margin: auto;
  max-width: 375px;
  display: block;
  }
}

.aboutText {
  flex-basis: 50%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 0px;
  }
  h3 {
    margin-top: 0px;
  }
  h4 {
    margin: 20px 0px 6px 0px;
  }
  p {
    margin: 0;
  }
  .btn {
    margin-top: 15px;
  }
}

.aboutBtnFlex {
  display: flex;
  .aboutBtnFlexLeft,
  .aboutBtnFlexRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
}

.aboutBtnFlexLeft {
  margin-right: 50px;
}
