@use "variables" as *;

.portfolio {
  h2 {
    padding-top: 80px;
    margin-top: 0px;
  }
}

.portfolioRow {
  margin-bottom: 50px;
}

.portfolioRow,
.portfolioRowLast {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.horizontalLine {
  position: absolute;
  left: 55%;
  bottom: -20px;
  transform: translateX(-60%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease-in-out;
}

.portfolioImage {
  max-width: 50%;
  padding: 10px 4%;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.portfolioTextFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  p {
    margin-right: 15px;
  }
}

.portfolioText {
  padding: 10px 4%;
  max-width: 50%;
  display: flex;
  align-items: center;
  h3 {
    margin: 20px 0px 0px 0px;
  }
}

.portfolioBtns {
  display: flex;
  justify-content: space-between;
  a {
    min-width: fit-content;
    margin-right: 20px;
  }
}

.keyword {
  background-color: $octonary;
  padding: 4px 15px;
  border-radius: 20px;
  margin-bottom: 0px;
}

.box1,
.box5 img {
  transition: transform .4s ease-in-out;
  transform-style: preserve-3d;
}

.box1:hover,
.box5:hover img {
  transform: rotate3d(.3, -.3, 0, 12deg);
  transform: skew(-1deg, -.5deg);
}

.box4,
.box8 img {
  transition: transform .4s ease-in-out;
  transform-style: preserve-3d;
}

.box4:hover,
.box8:hover img {
  transform: rotate3d(-.3, -.3, 0, 12deg);
  transform: skew(1deg, .5deg);
}