@use "variables" as *;

// fill vh minus the 250px padding-top
.home {
  min-height: calc(100vh);
	padding-top: 125px;
	background-image: url("../assets/images/effect/bg-effect-4.png");
	background-size: cover;
}

.homeFlex {
  display: flex;
  justify-content: space-between;
}

// abstract shape in background
// must fix so it doesn't cause horizontal scroll..!
// .home::after {
// 	background: rgba(254, 196, 72, .4);
// 	border-radius: 50px;
// 	bottom: 47%;
// 	content: "";
// 	left: 48%;
// 	position: absolute;
//   z-index: 1;
// 	right: -16%;
// 	top: -19%;
// 	transform: rotate(-45deg);
// }

.homeText {
	margin-left: 20px;
	margin-top: 100px;
	h1 {
		margin-bottom: 20px;
	}
}

.homeImage img {
	width: 600px;
	position: relative;
	z-index: 5;
}