@use "variables" as *;

.skills {
  padding-bottom: 25px;
  h2 {
    padding-top: 80px;
  }
}

.skillsFlex {
  display: flex;
}

.skillsText {
  display: flex;
  max-width: fit-content;
  flex-wrap: wrap;
  flex-direction: column;
}

.iconBox {
  border: 2px solid red;
}

.iconBoxLeft {
  border: 2px solid black;
}