// site fonts
$siteFont: 'Jost', sans-serif;

// site colors
$primary: #373737; /* all text and btm section bg*/
$secondary: #FF651D; /* button bg and nav hover */
$tertiary: #FFFFFF; /* button text color */
$quaternary: #FFF9EC; /* top section bg */
$quinary: #9BD3CC; /* recurring accent */
$senary: #FFE4AA; /* dynamic bg shape top right of home section */
$septenary: #ffffffbf; /* footer text and icons */
$octonary: #FFDBC1; /* bg color for "project type" tags in portfolio section */