html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* all text and btm section bg*/
/* button bg and nav hover */
/* button text color */
/* top section bg */
/* recurring accent */
/* dynamic bg shape top right of home section */
/* footer text and icons */
/* bg color for "project type" tags in portfolio section */
/* labels */
/* yellow form button */
html {
  /* setting root element to 62.5% makes 1rem = 10px */
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
button,
label,
input {
  font-family: "Jost", sans-serif;
  color: #373737;
}

h1 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 70px;
}

h2 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
}

.services h2 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 60px;
  letter-spacing: 4px;
}

h3 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 38.4px;
}

.aboutBtnFlex h4 {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 31.2px;
  color: #FF651D;
}

.boxHeaders h4 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 28.8px;
}

.servicesFlex h4 {
  font-size: 2.4rem;
}

.contactOptionsRight h4 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16.8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7490196078);
}

h5 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19.2px;
}

.testimonialBoxRight h5 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 19.2px;
}

.contactLeftFlex h5 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 38.4px;
}

h6 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 19.2px;
  letter-spacing: 3px;
}

p {
  display: inline-block;
}

.homeText p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 30px;
}

.aboutText p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 27px;
}

.svcBox p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 25.5px;
}

.portfolioText p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 3px;
}

.keyword {
  text-transform: uppercase;
}

.testimonialBox p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 25.5px;
}

.contactFlex p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7490196078);
}

ul {
  list-style: none;
}

label,
input,
textarea {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: #555;
}

.navbarLinks a {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 35px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.fa-brands,
.fab {
  font-size: 5rem;
}

.container {
  max-width: 1230px;
  width: 98%;
  margin: 0 auto;
}

.wrapper {
  position: static;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

img {
  width: 100%;
}

.btn {
  display: block;
  color: #FFFFFF;
  background-color: #FF651D;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 2px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  -webkit-box-shadow: 5px 5px #373737;
          box-shadow: 5px 5px #373737;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover, .btn:focus {
  background-color: #fec448;
  color: #373737;
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
  -webkit-box-shadow: 6px 6px #373737;
          box-shadow: 6px 6px #373737;
}
.btn:active {
  background-color: #9BD3CC;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 2px 2px 2px #373737;
          box-shadow: 2px 2px 2px #373737;
}
.btn a {
  font-family: "Jost", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

button {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color: #373737;
  background-color: #fec448;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 2px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  -webkit-box-shadow: 5px 5px #FF651D;
          box-shadow: 5px 5px #FF651D;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button:hover, button:focus {
  background-color: #9BD3CC;
  color: black;
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
  -webkit-box-shadow: 6px 6px #FF651D;
          box-shadow: 6px 6px #FF651D;
}
button:active {
  background-color: #FFDBC1;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 2px 2px 2px #FF651D;
          box-shadow: 2px 2px 2px #FF651D;
}

header {
  z-index: 10;
}

.navContainer {
  padding: 15px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbarLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbarLinks li {
  padding: 0px 8px;
  display: inline-block;
  position: relative;
}
.navbarLinks a::after,
.navbarLinks a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FF651D;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.navbarLinks a:hover::after,
.navbarLinks a:focus::after {
  -webkit-transform: scaleX(0.7);
          transform: scaleX(0.7);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.logo p {
  color: #FFF9EC;
  position: absolute;
  left: 79px;
  top: -12px;
  font-size: 2.31rem;
}
.logo span {
  color: #FF651D;
}
.logo img {
  height: 40px;
  width: auto;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.logo {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.logo:hover, .logo:focus {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg);
            transform: translate(-1px, 0px) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    -webkit-transform: translate(-1px, 0px) rotate(0deg);
            transform: translate(-1px, 0px) rotate(0deg);
  }
}
header {
  background-color: #FFF9EC;
  position: fixed;
  width: 100%;
  -webkit-filter: drop-shadow(0px 3px 6px #747474);
          filter: drop-shadow(0px 3px 6px #747474);
}

.home {
  min-height: 100vh;
  padding-top: 125px;
  background-image: url("../assets/images/effect/bg-effect-4.png");
  background-size: cover;
}

.homeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeText {
  margin-left: 20px;
  margin-top: 60px;
}
.homeText h1 {
  margin-bottom: 20px;
}

.wave {
  font-size: 4rem;
}

.homeImage img {
  position: relative;
  z-index: 5;
}

.aboutBtn {
  margin-top: 30px;
}

.about {
  background-color: #FFFFFF;
  padding: 100px 0px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutImage {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.aboutImage img {
  border: 2px solid black;
  margin: auto;
  max-width: 375px;
  display: block;
}

.aboutText {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aboutText h2 {
  margin-top: 0px;
}
.aboutText h3 {
  margin-top: 0px;
}
.aboutText h4 {
  margin: 20px 0px 6px 0px;
}
.aboutText p {
  margin: 0;
}
.aboutText .btn {
  margin-top: 15px;
}

.aboutBtnFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutBtnFlex .aboutBtnFlexLeft,
.aboutBtnFlex .aboutBtnFlexRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutBtnFlexLeft {
  margin-right: 50px;
}

.skills {
  background-image: url("../assets/images/effect/bg-effect-1.png");
  background-size: cover;
  padding-bottom: 100px;
}
.skills h2 {
  padding-top: 80px;
  text-align: center;
  margin-top: 0px;
}

.servicesFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.servicesFlex > div {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.servicesFlex > div:hover {
  -webkit-box-shadow: 4px 4px 0 0 #373737;
          box-shadow: 4px 4px 0 0 #373737;
}
.servicesFlex h4 {
  margin: 15px 0 0 0;
}

.svcBox {
  border: 2px solid black;
  margin: 10px 10px;
  max-width: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}
.svcBox p {
  margin-bottom: 15px;
}

.svcBoxLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 30px;
  background: white;
}
.svcBoxLeft img {
  width: 100%;
  height: 100%;
  padding: -40px;
}

.svcBoxFirebase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  border: 2px solid black;
  width: 63px;
  height: 63px;
  -ms-flex-item-align: center;
      align-self: center;
  background: white;
}
.svcBoxFirebase img {
  width: 66px;
  padding: 10px;
}

.svcBoxRight {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.svcBoxRight p {
  margin-right: 20px;
}

.svcBoxOne {
  background-color: #9BD4D0;
}

.svcBoxTwo {
  background-color: #FEC447;
}

.svcBoxThree {
  background-color: #FECCB5;
}

.svcBoxFour {
  background-color: #9BD4D0;
}

.svcBoxFive {
  background-color: #C4D39A;
}

.svcBoxSix {
  background-color: #CEC5FF;
}

.portfolio h2 {
  padding-top: 80px;
  margin-top: 0px;
}

.portfolioRow {
  margin-bottom: 50px;
}

.portfolioRow,
.portfolioRowLast {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.horizontalLine {
  position: absolute;
  left: 55%;
  bottom: -20px;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  width: 0;
  height: 2px;
  background-color: black;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.portfolioImage {
  max-width: 50%;
  padding: 10px 4%;
}

.portfolioTextFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.portfolioTextFlex p {
  margin-right: 15px;
}

.portfolioText {
  padding: 10px 4%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolioText h3 {
  margin: 20px 0px 0px 0px;
}

.portfolioBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolioBtns a {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 20px;
}

.keyword {
  background-color: #FFDBC1;
  padding: 4px 15px;
  border-radius: 20px;
  margin-bottom: 0px;
}

.box1,
.box5 img {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.box1:hover,
.box5:hover img {
  -webkit-transform: rotate3d(0.3, -0.3, 0, 12deg);
          transform: rotate3d(0.3, -0.3, 0, 12deg);
  -webkit-transform: skew(-1deg, -0.5deg);
          transform: skew(-1deg, -0.5deg);
}

.box4,
.box8 img {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.box4:hover,
.box8:hover img {
  -webkit-transform: rotate3d(-0.3, -0.3, 0, 12deg);
          transform: rotate3d(-0.3, -0.3, 0, 12deg);
  -webkit-transform: skew(1deg, 0.5deg);
          transform: skew(1deg, 0.5deg);
}

.testimonials {
  background-image: url("../assets/images/effect/bg-effect-2.png");
  background-size: cover;
  padding-bottom: 100px;
}
.testimonials h2 {
  padding-top: 80px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.testimonialsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.testimonialsFlex > div {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.testimonialsFlex > div:hover {
  -webkit-box-shadow: 4px 4px 0 0 #373737;
          box-shadow: 4px 4px 0 0 #373737;
}

.testimonialBox {
  border: 2px solid black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  padding: 20px 40px;
  width: calc(50% - 60px);
}
.testimonialBox div > img {
  width: 100px;
}
.testimonialBox a {
  text-decoration: none;
  color: #373737;
}

.testimonialBoxLeft {
  -ms-flex-item-align: center;
      align-self: center;
}
.testimonialBoxLeft a {
  display: inline-block;
  width: 100px;
}
.testimonialBoxLeft img {
  width: 100px;
  border: 2px solid black;
}

.testimonialBoxRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonialBoxRight p {
  margin: 0px;
}
.testimonialBoxRight h5 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.testimonialBoxRight h5 {
  margin-bottom: 4px;
}
.testimonialBoxRight span {
  font-size: 1.4rem;
}

.contact {
  background-color: #373737;
}

.contactFlex {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
}

.contactLeftFlex {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 35px;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.contactLeftFlex h5 {
  margin: 0px 0px 4px 0px;
}
.contactLeftFlex p {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px;
}
.contactLeftFlex button {
  margin-top: 30px;
}
.contactLeftFlex label {
  margin: 10px 0 4px 0;
}
.contactLeftFlex a {
  text-decoration: none;
  color: #FF651D;
  font-size: 100%;
  display: inline-block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.contactLeftFlex a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-size: 800% 800%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-animation: rainbow 8s ease infinite;
          animation: rainbow 8s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formName {
  padding-right: 5px;
}

.formEmail {
  padding-left: 5px;
}

.formName,
.formEmail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.formSubj,
.formMsg,
.formSend {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

input,
textarea {
  border: 1px solid #373737;
  padding: 0.57rem 0.75rem;
  border-radius: 0px;
}

textarea {
  margin-bottom: 10px;
}

.contactRightFlex {
  margin-left: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 44%;
  background-color: #373737;
}
.contactRightFlex p,
.contactRightFlex a {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  line-height: 30px;
  text-decoration: none;
}
.contactRightFlex a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contactRightFlex a:hover {
  color: #FF651D;
}

.contactOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px 50px 0px;
}

.contactOptionsLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 30px;
}
.contactOptionsLeft i {
  font-size: 3.5rem;
  color: #373737;
}

.linksBlog {
  background: #FFDBC1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.linksBlog :hover,
.linksBlog :focus {
  -webkit-transform: scale(112%);
          transform: scale(112%);
}

.mail {
  background: #9BD3CC;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.mail :hover,
.mail :focus {
  -webkit-transform: scale(112%);
          transform: scale(112%);
}

.mailBox {
  margin-bottom: 0px;
  margin-top: 22px;
}

.contactOptionsRight {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contactOptionsRight h4 {
  margin: 12px 0 0 0;
}
.contactOptionsRight p {
  margin-top: 10px;
}

.linksBlogRight {
  margin-top: 10px;
  margin-bottom: 15px;
}

.contactImage img {
  border: 2px solid white;
}

footer {
  background-color: #373737;
  color: rgba(255, 255, 255, 0.7490196078);
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}

.footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
}
.footerIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.footerIcons i {
  color: white;
  margin-right: 30px;
  font-size: 2.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footerIcons i:hover {
  color: #FF651D;
}
.footerIcons p {
  text-align: right;
}

/* adjustment to 3 button layout on portfolio section */
@media (max-width: 1010px) {
  .portfolioBtns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolioBtns :nth-child(3) {
    margin-top: 25px;
  }
}
@media (max-width: 869px) {
  .navbarLinks {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFDBC1;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .navbarLinks.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    margin-top: 10px;
    display: block;
    cursor: pointer;
  }
  .navbarLinks a:hover::after,
  .navbarLinks a:focus::after {
    -webkit-transform: scaleX(0.1);
            transform: scaleX(0.1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutFlex .aboutImage img {
    max-width: 55%;
    margin-bottom: 50px;
  }
  .aboutFlex .aboutText {
    max-width: 80%;
  }
  .portfolio {
    background-image: none;
  }
  .portfolioBtns :nth-child(3) {
    margin-top: 0px;
  }
  .portfolioRow {
    margin-bottom: 50px;
  }
  .portfolioRowA {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolioRowB,
  .portfolioRowLast {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolioRowB .box3,
  .portfolioRowB .box5,
  .portfolioRowB .box6,
  .portfolioRowLast .box3,
  .portfolioRowLast .box5,
  .portfolioRowLast .box6 {
    max-width: 100%;
  }
  .portfolioRowB > :nth-child(1),
  .portfolioRowLast > :nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .portfolioRowB > :nth-child(2),
  .portfolioRowLast > :nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .portfolioRowLast {
    margin-top: 20px;
  }
  .box2,
  .box3,
  .box6 {
    margin-bottom: 50px;
  }
  .portfolioTextFlex,
  .keywordBox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .portfolioText {
    max-width: 100%;
  }
  .portfolioImage {
    padding: 0 0;
  }
  .portfolioImage img {
    max-height: 100%;
    max-width: 100%;
  }
  .testimonialsFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonialsFlex div {
    width: auto;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .home {
    padding-bottom: 75px;
  }
  .homeFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .homeFlex .homeImage {
    max-width: 50%;
  }
  .homeFlex .homeText {
    margin-top: 0px;
  }
  .servicesFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .servicesFlex .svcBox {
    max-width: inherit;
  }
  .testimonialBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonialBox .testimonialBoxRight {
    margin-left: 0px;
    margin-top: 12px;
  }
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0px;
  }
  .contactFlex .contactLeftFlex {
    width: inherit;
    margin: auto 0;
  }
  .contactFlex .contactRightFlex {
    width: 75%;
    margin-left: 0px;
  }
}
/* adjustment to 3 button layout on portfolio section */
@media (max-width: 647px) {
  .portfolioBtns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolioBtns :nth-child(3) {
    margin-top: 25px;
  }
  .footerIcons p {
    text-align: right;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .homeFlex .homeImage {
    max-width: 75%;
  }
}