html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* all text and btm section bg*/
/* button bg and nav hover */
/* button text color */
/* top section bg */
/* recurring accent */
/* dynamic bg shape top right of home section */
/* footer text and icons */
html {
  /* setting root element to 62.5% makes 1rem = 10px */
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li a,
p,
button {
  font-family: "Jost", sans-serif;
  color: #373737;
}

h1 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 70px;
}

h2 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 48px;
  text-transform: uppercase;
}

.services h2 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 60px;
  letter-spacing: 4px;
}

h3 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 38.4px;
}

.aboutBtnFlex h4 {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 31.2px;
  color: #FF651D;
}

.boxHeaders h4 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 28.8px;
}

.servicesFlex h4 {
  font-size: 2.4rem;
  margin-bottom: 0px;
}

.contactOptionsRight h4 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16.8px;
  letter-spacing: 2px;
}

h5 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19.2px;
}

.testimonialBoxRight h5 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 19.2px;
}

.contactLeftFlex h5 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 38.4px;
}

h6 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 19.2px;
  letter-spacing: 3px;
}

.homeText p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 30px;
}

.aboutText p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 27px;
}

.svcBox p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 25.5px;
  margin-bottom: 0px;
}

.portfolioText p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
}

.testimonialBox p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 25.5px;
}

.contactFlex p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7490196078);
}

ul {
  list-style: none;
}

label,
input,
textarea {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
}

.navbarLinks a {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 35px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  color: #FFFFFF;
  background-color: #FF651D;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 2px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  -webkit-box-shadow: 0.5rem 0.5rem #373737;
          box-shadow: 0.5rem 0.5rem #373737;
}
.btn a {
  font-family: "Jost", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: #FFF9EC;
  padding-top: 250px;
}

.container {
  max-width: 1230px;
  width: 98%;
  margin: 0 auto;
}

.wrapper {
  position: static;
  z-index: 1;
}

.navContainer {
  padding: 15px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbarLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbarLinks li {
  padding: 0px 8px;
  display: inline-block;
  position: relative;
}
.navbarLinks a::after,
.navbarLinks a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FF651D;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.navbarLinks a:hover::after {
  -webkit-transform: scaleX(0.7);
          transform: scaleX(0.7);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.logo p {
  color: #FFF9EC;
  position: absolute;
  left: 84px;
  top: -12px;
  font-size: 2.31rem;
}
.logo span {
  color: #FF651D;
}
.logo img {
  height: 40px;
}

header {
  background-color: #FFF9EC;
  position: fixed;
  width: 100%;
  -webkit-filter: drop-shadow(0px 3px 6px #747474);
          filter: drop-shadow(0px 3px 6px #747474);
}

.home {
  min-height: calc(100vh - 250px);
}

.homeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home::after {
  background: rgba(254, 196, 72, 0.4);
  border-radius: 50px;
  bottom: 47%;
  content: "";
  left: 48%;
  position: absolute;
  z-index: 1;
  right: -16%;
  top: -19%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.homeImage img {
  position: relative;
  z-index: 10;
}

.about {
  background-color: #FFFFFF;
  padding: 100px 0px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutImage {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.aboutImage img {
  margin: auto;
  display: block;
}

.aboutText {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aboutText h2 {
  margin-top: 0px;
}
.aboutText h4 {
  margin: 10px 0px;
}
.aboutText p {
  margin: 0;
}
.aboutText .btn {
  margin-top: 25px;
}

.aboutBtnFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services {
  background-image: url("../assets/images/effect/bg-effect-1.png");
}
.services h2 {
  text-align: center;
}

.servicesFlex {
  height: 600px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.svcBox {
  border: 2px solid black;
  margin: 10px 10px;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.svcBoxLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}
.svcBoxLeft img {
  border: 1px solid black;
}

.svcBoxRight {
  margin-left: 20px;
}

.svcBoxOne {
  background-color: #9BD4D0;
}

.svcBoxTwo {
  background-color: #FEC447;
}

.svcBoxThree {
  background-color: #FECCB5;
}

.svcBoxFour {
  background-color: #92B5FE;
}

.svcBoxFive {
  background-color: #C4D39A;
}

.svcBoxSix {
  background-color: #CEC5FF;
}

.skillsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skillsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iconBox {
  border: 2px solid red;
}

.iconBoxLeft {
  border: 2px solid black;
}